@{
    ViewBag.Title = "我的客户信息";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("index")" >我的客户信息</a></li>
    <li><a href="@Url.Action("share")" >共享的客户信息</a></li>
    @if (CookieHelper.CheckPermission("manager"))
    {
        <li><a href="@Url.Action("delete")" >已删除的客户信息</a></li>
    }
    <li><a href="@Url.Action("common")" >公有的客户信息</a></li>
    <li><a href="@Url.Action("Invalid")" >无效的客户信息</a></li>
    <li><a href="@Url.Action("tracesearch")" >跟单日志查询</a></li>
    <li><a href="@Url.Action("plansearch")" >计划日志查询</a></li>
</ul>

<div class="search-form">
    @using (Ajax.BeginForm(actionName: "search", controllerName: "CustomerCompany", routeValues: new { }, ajaxOptions: new AjaxOptions()
{
    OnSuccess = "ajaxFormSuccess",
    OnFailure = "ajaxFormFailure",
    HttpMethod = "Get"

}, htmlAttributes: new { formtitle = "客户信息查询" }))
    {
        <div class="search-area">
            @Html.EditorForModel()
            <div class="form-field form-field-submit">
                <button type="submit" class="btn btn-primary btn-submit ">
                    <i class="icon-maitonn icon-search"></i>
                    &nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>
<div class="search-result">
</div>
@section scripts{


    <script type="text/javascript">
        $(function () {

            function getSearch() {
                $('.btn-submit').click();
            }

            $('#IsInTime').on('click', function () {
                var enable = $('#IsInTime').prop('checked');
                $('#StartTime').data('kendoDatePicker').enable(enable);
                $('#EndTime').data('kendoDatePicker').enable(enable);
            })

            //getSearch();

            $('.search-result').on('click', 'a.page-link', ajaxPage)

            $('.search-result').on('click', 'a.btn-delete-single', deleteSingle)

            $('.search-result').on('click', 'a.btn-edit-single', editSingle)


            function ajaxPage(e) {
                e.preventDefault();
                var target = $(e.currentTarget);
                var parent = target.parent();
                if (parent.hasClass('disabled') || parent.hasClass('active')) {
                    return false;
                } else {
                    var url = target.attr('href');
                    var cssClass = target.data('cssclass');
                    $.get(url, {}, function (res) {
                        $('.search-result').html(res);
                        Maitonn.JHelper.onDataBoundShowContent();
                    })
                }
            }

            function excute(element, url, Ids) {
                if ($(element).hasClass('disabled'))
                    return false;
                if (Ids) {
                    addSpinner(element);
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { ids: Ids },
                        success: function (res) {
                            removeSpinner(element);
                            if (res.Success) {
                                Maitonn.JHelper.showMessage(res);
                                getSearch();
                            }
                        },
                        complete: function () {
                            removeSpinner(element);
                        }
                    })
                } else {
                    alert('请选择要处理的信息');
                    return false;
                }
            }

            function addSpinner(element) {
                var $spinner = $('<img class="ajax-working" src="@Url.Content("~/Content/images/min-loading.gif")" title="work...." />').appendTo($(element));
                $(element).addClass('disabled');
            }

            function removeSpinner(element) {
                $(element).find('.ajax-working').remove();
                $(element).removeClass('disabled');
            }

            function deleteSingle(e) {
                var url = '@Url.Action("SetDelete", "CustomerCompany")';
                var element = $(e.currentTarget);
                var id = element.data('id');
                isEditable(id).done(function (res) {
                    if (res) {
                        excute(element, url, id);
                    } else {
                        alert('该信息不能被删除')
                    }
                })
            }

            function editSingle(e) {
                var element = $(e.currentTarget);
                var id = element.data('id');
                addSpinner(element);
                isEditable(id).done(function (res) {
                    removeSpinner(element);
                    if (res) {
                        window.location.href = "@Url.Action("Edit")/" + id;
                    } else {
                        alert('该信息不能被编辑')
                    }
                })
            }

            function isEditable(id) {
                var url = '@Url.Action("isEditable", "CustomerCompany")';
                var d = $.Deferred()
                $.get(url, { ID: id }, function (res) {
                    d.resolve(res);
                })
                return d.promise();
            }
        })
            function ajaxFormSuccess(res) {
                $('.search-result').html(res);
                Maitonn.JHelper.onDataBoundShowContent();
            }

    </script>
}
