@{
    ViewBag.Title = "共享的客户信息";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li><a href="@Url.Action("index")" >我的客户信息</a></li>

    <li class="active"><a href="@Url.Action("share")" >共享的客户信息</a></li>
    @if (CookieHelper.CheckPermission("manager"))
    {
        <li><a href="@Url.Action("delete")" >已删除的客户信息</a></li>
    }
    <li><a href="@Url.Action("common")" >公有的客户信息</a></li>
     <li ><a href="@Url.Action("invalid")" >无效的客户信息</a></li>
    <li><a href="@Url.Action("tracesearch")" >跟单日志查询</a></li>
    <li><a href="@Url.Action("plansearch")" >计划日志查询</a></li>
</ul>

<div id="tabstrip" style="margin-top: 10px;">
    <ul>
        <li class="k-state-active category0">共享给我的</li>
        <li class="category1">我共享的</li>
    </ul>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {
            var tabStrip = $("#tabstrip").kendoTabStrip({
                animation: { open: { effects: "fadeIn" } },
                contentLoad: Maitonn.JHelper.onDataBoundShowContent,
                contentUrls: [
                '@Url.Action("DataShare_Read", "customercompany", new { status = 0 })',
                '@Url.Action("DataShare_Read", "customercompany", new { status = 1 })'
                ]
            }).data('kendoTabStrip');
            $('#tabstrip').on('click', 'a.page-link', ajaxPage);

            function ajaxPage(e) {
                e.preventDefault();
                var target = $(e.currentTarget);
                var parent = target.parent();
                if (parent.hasClass('disabled') || parent.hasClass('active')) {
                    return false;
                } else {
                    var url = target.attr('href');
                    var cssClass = target.data('cssclass');
                    var refeshlink = $('#tabstrip').find('li.' + cssClass).find('.k-link')
                    refeshlink.data('contentUrl', url);
                    tabStrip.reload($('#tabstrip').find('li.' + cssClass));
                }
            }
        });
    </script>
}
