@model List<Member>
@{
    ViewBag.Title = "部门人员列表";

    var departlist = (List<SelectListItem>)ViewBag.Data_DepartmentID;
}

<div class="tool-bar">
    <a class="btn btn-primary "  href="@Url.Action("create")">新开帐号</a>

    <a class="btn btn-primary "  href="@Url.Action("Export")">导出数据</a>
</div>

<div class="table-responsive " id="tabcontainer">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>部门</th>
                <th>姓名</th>
                <th>手机1</th>
                <th>手机2</th>
                <th>Email</th>
                <th>QQ</th>
                <th>地址</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@departlist.Single(x => x.Value == item.DepartmentID.ToString()).Text
                    </td>
                    <td>@item.NickName</td>
                    <td>@item.Mobile</td>
                    <td>@item.Mobile1</td>

                    <td>@item.Email</td>
                    <td>@item.QQ</td>

                    <td>@item.Address</td>

                    <td>
                        <a class="btn btn-primary btn-show-tracelog" data-id="@item.MemberID" data-cssclass="tracelog" href="javascript:void(0);">跟单情况</a>
                        <a class="btn btn-primary btn-show-resume" data-id="@item.MemberID" data-cssclass="resume" href="@Url.Action("resume", "manager", new { ID = item.MemberID })" target="_blank">查看简历</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="page-info">
    @Html.MaitonnPage((PagingInfo)ViewBag.PageInfo, "manager")
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {

            $('#logwindow').on('click', 'a.page-link', showpage);

            $('#tabcontainer').on('click', 'a.btn-show-tracelog', shwoTracelog);

            function shwoTracelog(e) {
                var id = $(e.currentTarget).data('id');
                $.get('@Url.Action("viewtrace", "tracelog")', { ID: id }, function (res) {
                    $('#logwindow').data('kendoWindow')
                        .content(res)
                        .center().open();
                })
            }
            function showpage(e) {
                e.preventDefault();
                var target = $(e.currentTarget);
                var parent = target.parent();
                if (parent.hasClass('disabled') || parent.hasClass('active')) {
                    return false;
                } else {
                    var url = target.attr('href');
                    $.get(url, {}, function (res) {
                        $('#logwindow').data('kendoWindow').content(res);
                    })
                }
            }
        })
    </script>
}

@(Html.Kendo().Window().Name("logwindow").Title("跟单详情").Modal(true).Visible(false).Width(800))