@model List<Member>
@{
    ViewBag.Title = "员工信息管理";

    var departlist = (List<SelectListItem>)ViewBag.Data_DepartmentID;
    var grouplist = (List<SelectListItem>)ViewBag.Data_GroupID;
}
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("index")" >员工列表</a></li>
    <li><a href="@Url.Action("delete")" >已禁用的员工列表</a></li>
    <li><a href="@Url.Action("import")" >用户数据导入</a></li>
</ul>

<div class="tool-bar">
    <a class="btn btn-primary" href="@Url.Action("create")">新开帐号</a>

    <a class="btn btn-primary" href="@Url.Action("export")">导出数据</a>
</div>

<div class="table-responsive " id="tabcontainer">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>部门</th>
                <th>负责人</th>
                <th>姓名</th>
                <th>手机1</th>
                <th>手机2</th>
                <th>Email</th>
                <th>QQ</th>
                <th>地址</th>
                <th>群组</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@departlist.Single(x => x.Value == item.DepartmentID.ToString()).Text
                    </td>

                    <td>@(item.IsLeader ? "是" : "否")</td>
                    <td>@item.NickName</td>
                    <td>@item.Mobile</td>
                    <td>@item.Mobile1</td>

                    <td>@item.Email</td>
                    <td>@item.QQ</td>

                    <td>@item.Address</td>
                    <td>@grouplist.Single(x => x.Value == item.GroupID.ToString()).Text
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">操作</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a class=" btn-show-tracelog" data-id="@item.MemberID"  href="javascript:void(0);">跟单情况</a></li>
                                <li><a class=" btn-show-resume" data-id="@item.MemberID" href="@Url.Action("resume", "manager", new { ID = item.MemberID })" target="_blank">查看简历</a></li>
                                <li><a class="" href="@Url.Action("index", "task", new { ID = item.MemberID })">任务安排</a></li>
                                <li class="divider"></li>
                                <li><a class="" href="@Url.Action("Edit", "Member", new { ID = item.MemberID })">编辑</a></li>
                                <li><a class=" btn-ban-user" data-id="@item.MemberID"  href="javascript:void(0);">禁用</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="page-info">
    @Html.MaitonnPage((PagingInfo)ViewBag.PageInfo, "manager")
</div>
<!-- Tab panes -->

@section scripts{
    <script type="text/javascript">

        $(function () {

            $('#tabcontainer').on('click', 'a.btn-show-tracelog', shwoTracelog);

            $('#tabcontainer').on('click', 'a.btn-ban-user', deleteSingle);

            $('#logwindow').on('click', 'a.page-link', showpage);

            function deleteSingle(e) {
                var id = $(e.currentTarget).data('id');
                $.post('@Url.Action("setdelete", "Member")', { ids: id }, function (res) {
                    Maitonn.JHelper.showMessage(res);
                    window.location.reload();
                })
            }

            function shwoTracelog(e) {
                var id = $(e.currentTarget).data('id');
                $.get('@Url.Action("viewtrace", "tracelog")', { ID: id }, function (res) {
                    $('#logwindow').data('kendoWindow')
                        .content(res)
                        .center().open();
                })
            }
            function showpage(e) {
                e.preventDefault();
                var target = $(e.currentTarget);
                var parent = target.parent();
                if (parent.hasClass('disabled') || parent.hasClass('active')) {
                    return false;
                } else {
                    var url = target.attr('href');
                    $.get(url, {}, function (res) {
                        $('#logwindow').data('kendoWindow').content(res);
                    })
                }
            }
        })

    </script>
}
@(Html.Kendo().Window().Name("logwindow").Title("跟单详情").Modal(true).Visible(false).Width(800))