@model List<ContractInfo>

<div class="table-responsive">
    <table class="table  table-hover">
        <thead>
            <tr>
                <th>合同编号</th>
                <th>公司名称</th>
                <th>合同类型</th>
                <th>签订时间</th>
                <th>下次收款</th>
                <th>签订人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Key</td>
                    <td>
                        <div data-showcontent="@Url.Action("CompanyNameLink", "ajaxService", new { ID = item.CompanyID })"></div>
                    </td>
                    <td>@item.ContractCate.CateName</td>
                    <td>@item.SigningTime.ToString("yyyy-MM-dd")</td>
                    <td>@item.NextTime.ToString("yyyy-MM-dd")</td>
                    <td>@item.Signer.NickName</td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("details", new { ID = item.ID })">查看</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="page-info">
    @Html.MaitonnPage((PagingInfo)ViewBag.PageInfo, "search")
</div>
