<!--营销部经理级别start-->
@if (ViewBag.managerPermission)
{
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">部门管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("index", "manager")">人员动向</a></li>
            <li><a href="@Url.Action("create", "manager")">新开帐号</a></li>
            <li><a href="@Url.Action("index", "notice")">部门公告</a></li>
            <li><a href="@Url.Action("index", "fileshare")">文件共享</a></li>
            <li><a href="@Url.Action("resolve", "manager")">财务合同处理</a></li>
            <li><a href="@Url.Action("Mediarequire", "manager")">策略单处理</a></li>
        </ul>
    </li>
    <!--营销部经理级别end-->
}

<!--人事部经理级别start-->
@if (ViewBag.punishPermission)
{
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">行政管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("index", "punish")">行政功能</a></li>
        </ul>
    </li>
    <!--人事部经理级别end-->
}

@if (ViewBag.bossPermission)
{
  
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("index", "member")">用户管理</a></li>
        </ul>
    </li>
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">数据查询 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("index", "Boss")">数据查询</a></li>
        </ul>
    </li>
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">权限设置 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("index", "department")">部门管理</a></li>
            <li><a href="@Url.Action("index", "permissions")">权限管理</a></li>
            <li><a href="@Url.Action("index", "roles")">角色管理</a></li>
            <li><a href="@Url.Action("index", "group")">群组管理</a></li>
        </ul>
    </li>
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统数据设置 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("index", "setting")">数据备份</a></li>
            <li><a href="@Url.Action("index", "citycate")">城市管理</a></li>
            <li><a href="@Url.Action("index", "customercate")">客户类型管理</a></li>
            <li><a href="@Url.Action("index", "industrycate")">客户行业管理</a></li>
            <li><a href="@Url.Action("index", "jobcate")">客户人员类型管理</a></li>
            <li><a href="@Url.Action("index", "jobtitlecate")">职称管理</a></li>
            <li><a href="@Url.Action("index", "relationcate")">客户关系类型管理</a></li>
            <li><a href="@Url.Action("index", "rulecate")">行政奖惩类型管理</a></li>
            <li><a href="@Url.Action("index", "filecate")">文件共享类型管理</a></li>
        </ul>
    </li>
}

