@model  FireShareSearchViewModel
@{
    ViewBag.Title = "文件共享";
    List<FileCate> category = (List<FileCate>)ViewBag.fileCate;
}


<div class="search-form">
    @using (Html.BeginForm())
    {
        <div class="search-area">
            @Html.EditorForModel()
            <div class="form-field form-field-submit">
                <button type="submit" class="btn btn-primary btn-submit ">
                    <i class="icon-maitonn icon-search"></i>
                    &nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>

<div id="tabstrip">
    <ul>
        @for (var i = 0; i < category.Count; i++)
        {
            var item = category[i];
            <li class="@(i == 0 ? "k-state-active" : "") category@(item.ID)">@item.CateName</li>
        }
    </ul>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var tabStrip = $("#tabstrip").kendoTabStrip({
                animation: { open: { effects: "fadeIn" } },
                contentLoad: Maitonn.JHelper.onDataBoundShowContent,
                contentUrls: [
                  @for (var i = 0; i < category.Count; i++)
                  {
                      var item = category[i];

                        <text>
                        '@Url.Action("list", "fileshare", new { ID = item.ID, DepartmentID = Model.DepartmentID, Name = Model.Name })'@(i < category.Count - 1 ? "," : "")
                      </text>
                  }
                ]
            }).data('kendoTabStrip');
        })
    </script>
}